/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Nunito, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    height: 60px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgba(214, 214, 214, 0.493);
}

.logo img {
    width: 120px;
    margin-top: 2px;
}

ul {
    width: 500px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul li a {
    align-items: center;
    text-decoration: none;
    color: #919191;
}

#buyBtn a {
    background-color: #3ecc51;
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: -1px 10px 16px -9px rgba(156,156,156,0.75);
    -webkit-box-shadow: -1px 10px 16px -9px rgba(156,156,156,0.75);
    -moz-box-shadow: -1px 10px 16px -9px rgba(156,156,156,0.75);
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, 500px);
    align-items: center;
    max-width: 100%;
}

section .hero {
    max-width: 1200px;
}

.heroImage {
    width: 100%;
}

.hero {
    margin-left: 180px;

}

.heroText h1 {
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 4rem;
    /* border: 1px solid red; */
}

.heroText p {
    padding-bottom: 30px;
    color: #919191;
    /* border: 1px solid red; */
}

#heroCTA {
    background-color: #3ecc51;
    font-size: 14px;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    box-shadow: -1px 10px 16px -9px rgba(156,156,156,0.75);
    -webkit-box-shadow: -1px 10px 16px -9px rgba(156,156,156,0.75);
    -moz-box-shadow: -1px 10px 16px -9px rgba(156,156,156,0.75);

}

.features {
    max-width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(90px, 600px);
    border: 1px solid red;
    background-color: #f3f3f3 ;
}

.features article {

}


