<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Components</h1>

    <div id="vue-app-one">
        <h2>Vue app one</h2>
        <!-- Referencing a vue component -->
        <greeting></greeting> 
    </div>

    <div id="vue-app-two">
        <h2>Vue app two</h2>
        <!-- Referencing a vue component -->
        <greeting></greeting>
    </div>

    <script src="app.js"></script>
</body>
</html>