<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUEJS Tutorials</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <!-- ROUTE ELEMENT CONTROLLED BY VUE -->
    <div id="vue-app">
            <h1>{{ greet('afternoon') }}</h1>
            <p>Name: {{ name }}</p>
            <p>Job: {{ job }}</p>
        <!-- Binding our data to various properties -->
            <a v-bind:href="website">CipherCode Design Studios</a>
        <!-- Bind it using a short-hand method -->
        <a :href="website">CipherCode Design Studios</a>
        <input type="text" v-bind:value="job">
        <!-- Bind data as HTML code  -->
        <p v-html="websiteTag"></p>

        <hr>

        <h2>Events</h2>
        <!-- Normal button click events -->
        <!-- <button v-on:click="age++">Add a Year</button>
        <button v-on:click="age--">Subtract a Year</button> -->
        <!-- Adding an event modifier to listen to the button clicks -->
        <button @click.once="add(1)">Add a year</button>
        <button v-on:click="subtract(1)">Subtract a year</button>
        <button @dblclick="add(10)">Add 10 years</button>
        <button v-on:dblclick="subtract(10)">Subtract 10 years</button>
        <p>My age is {{ age }}</p>
        <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
        <!-- Adding an event modifier to prevent the default behaviour of the a tag -->
        <a v-on:click.prevent="click" href="https://www.google.com">Google</a>

        <hr>

        <h2>Keyboard events</h2>
        <!-- <label for="name">Name:</label>
        <input type="text" v-on:keyup.enter="logName">
        <label for="age"></label>
        <input type="text" v-on:keyup.alt.enter="logAge"> -->

        <!-- Two-way Data Binding -->
        <label for="name">Name:</label>
        <input type="text" v-model="name">
        <span>{{ name }}</span>
        <label for="age"></label>
        <input type="text" v-model="age">
        <span>{{ age }}</span>

        <h2>Computed Properties</h2>
        <button v-on:click="a++">Add to A</button>
        <button v-on:click="b++">Add to B</button>
        <p>A - {{ a }}</p>
        <p>B - {{ b }}</p>
        <p>Age + a = {{ addToA }}</p>
        <p>Age + b = {{ addToB }}</p>

        <h2>Dynamic CSS</h2>

        <h3>EXAMPLE 1</h3>
            <!-- <div v-on:click="available= !available" v-bind:class="{available:available}">
                <span>Ryu</span>
            </div> -->
        <h3>EXAMPLE 2</h3>
        <button v-on:click="available= !available">Toggle available</button>
        <button v-on:click="nearby= !nearby">Toggle nearby</button>

        <div v-bind:class="compClasses">
            <span>Ryu</span>
        </div>

        <hr>

        <h2>Condtionals</h2>
        <button v-on:click="error= !error">Toggle Error</button>
        <button v-on:click="success= !success">Toggle Success</button>
        <!-- If this is true show either error or the success message -->
        <!-- <p v-if="error">Error has occured</p> 
        <p v-else-if="success">Success</p> -->

        <!-- Using v-show -->
        <p v-show="error">Error</p>
        <p v-show="success">Success</p>

        <hr>

        <h2>Looping using v-for</h2>
        <ul>
            <li v-for="character in characters">{{ character }}</li>
        </ul>
        </br>
        <ul>
            <li v-for="(ninja, index) in ninjas">{{ index }}. {{ ninja.name }} - Age: {{ ninja.age }}</li>
        </ul>
        </br>
        <!-- Using a template to loop through the array -->
        <template v-for="(ninja, index) in ninjas">
            <h4>{{ index }}. {{ ninja.name }}</h4>
            <p>{{ ninja.age }}</p>
        </template>
        </br>
        <!-- When we don't know how many items are in the array/object or their key/pair values -->
        <template v-for="ninja in ninjas">
            <!-- When you want to access the entire object or array to see what data it holds -->
            <!-- <p>{{ ninja }}</p> -->
            <div v-for="(val,key) in ninja">
                <p>{{ val }} - {{ key }}</p>
            </div>
        </template>


    </div>

    <script src="app.js"></script>
</body>
</html>